@import '~antd/dist/antd.css';


.nav {
    
    height: 320px;
    width:230px;
    border: 1px solid rgb(134, 127, 127);
    border-radius: 5px ;
    margin: 25%;
} 
.icons{
    height: 20px;
    /* margin-left: 1em; */
    padding: 0px;
}
.icons span {
    border-radius: 50%;
    /* background-color: rgb(123, 125, 127); */
}
/* .icons span svg path{
    background-color: rgb(255, 77, 70);
} */
.icons .icons-i:hover{
    color: black;
}


.icons .icons-close {
    margin-left: 5px;
    justify-content: space-around; 
}

.icons .icons-minus {
    margin-left: 5px;
    /* justify-content: space-around; */
    /* padding-left:3px ; */
}

.icons .icons-plus {
    margin-left: 5px;
    /* justify-content: space-around; */
    /* padding-left:3px ; */
}

.icons .icons-close {
    background-color:rgb(255, 77, 70) ;
    color: rgb(255, 77, 70);
    width: 0.5em;
    height: 0.5em;
    /* align-items: center;
    justify-content: center;   */
}
.icons .icons-minus {
    background-color:rgb(255,149,14) ;
    color: rgb(255,149,14);
            
    /* align-items: center;
    justify-content: center;   */
}
.icons .icons-plus {
                background-color:rgb(36, 196, 57) ;
                color: rgb(36, 196, 57);
                /* align-items: center;
                justify-content: center;   */
            }


.header{
    height: 78px;
    width: 100%;
    margin: 0px;
    background-color: rgb(80,83,86);
    border: 0 ;
    border-radius: 3px ;
}
.input{
    height: 60px;
    width: 100%;
    background-color: rgb(80,83,86);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 200;
    cursor: default;
    text-align: right;
    outline: none;

}
.input:focus{
    outline: none;
}

.btn{
    
    border-radius: 5px ;
    /* margin: 0.1px; */
}
.ant-btn span{
   
    font-weight: bolder;
    font-size: 18px;
}
.ant-btn .btn .btn-f span{
    font-weight: bold;
    font-size: 10px !important;
    

}

.btn-ye {
    background-color: rgb(255,149,14) !important;
}

.ant-bnt:hover{ 
 cursor:default !important;
}
.btn .ant-btn{
    
    width:57px ;
    height: 48px;
    /* border: 1px; */
    border-color:  #524947;
    background-color: rgb(123, 125, 127);
    color: rgb(255, 255, 255);
    border-radius: 0px 0px 0px 0px;
    cursor: default !important;
}
.btn-i {
    background-color: rgb(97,99,102) !important;

}

.btn-o {
    width: 114px !important;
   
}
.btn .btn-btmr{
    border-radius: 0px 0px 0px 3px !important ;
}
.btn .btn-btml{
    border-radius: 0px 0px 3px 0px !important ;
}
.input-i:focus  {
    -webkit-box-shadow: 0 0 0 #fff ;
    -moz-box-shadow:0 0 0 #fff ;
}


::selection{
    background: none;
    border: none;
    
}