@import '~antd/dist/antd.css';


.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* .add{
  color:red;
  background: pink;
  border: 1px solid black;
  
} */
.onChang{
  margin: 100px;
}


.Number1{
  text-align: center;
  margin: auto;
  /* height: 50vh; */
  margin: 10px;
  width: 150px;
  height: 50px;
  padding: 10px;
}
.Number2{
  width: 150px;
  height: 50px;
  margin: 10px;
  text-align: center;
}
.ant-input{
  width: 50px;
  margin-left: 5px;
}
.content{
  display: flex;
  flex-direction: row;
  width: 300px;
}